.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 100px;
}

.min-height{
    min-height: 75vh;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}