.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    width: 230px;
    
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 6px 1px #ffbb33;
    font-size: 20px;
    background-color: #222;
    color: #ffbb33;
    padding: 5px 10px;
    margin-bottom: 1.3em;
}

p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.category_text .infra{
    background-color: #FFAEBC;
}
.category_text .desenvolvimento{
    background-color: #A0E7E5;
}
.category_text .design{
    background-color: #B4F8C8;
}
.category_text .planejamento{
    background-color: #FBE7C6;
}

.project_card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    
}

.project_card_actions a,
.project_card_actions button{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.589);
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.project_card_actions svg{
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover{
    background-color: #222;
    color: #ffbb33;
}